<div>
    <p>Hey, <%=@contact.name%><p>

    <div style="margin-top:5px;">
        <div style="margin-left: 20px;">    
            <p> We have recieved your message. We will reach out to you shortly</p>
        </div>
    </div>

    <div style="margin-top:10px;">
        <p> Regards </p>
    </div>
</div>